<!-- section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Open-Source Full-Stack Solution For MEAN Applications
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div>
    <h2>Congrats! You've configured and run the sample application.</h2>
    <p>MEAN.JS is a web application boilerplate, which means you should start changing everything :-)</p>
    <p>This sample application tracks users and articles.</p>
    <ul>
      <li>
        Click
        <em>Sign Up</em> to get started.
      </li>
      <li>
        Configure your app to work with your social accounts, by editing the
        <em>/config/env/*.js</em> files.
      </li>
      <li>
        Edit your users module.
      </li>
      <li>
        Add new CRUD modules.
      </li>
      <li>
        Have fun...
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>M</strong>ongoDB</h2>
      <p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a NoSQL database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>E</strong>xpress</h2>
      <p><a target="_blank" href="http://expressjs.com/"> Express</a> is a NodeJS server-side application web framework. Check out <a target="_blank" href="http://expressjs.com/4x/api.html">The ExpressJS API reference for more information</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>A</strong>ngularJS</h2>
      <p><a target="_blank" href="http://angularjs.org/">AngularJS</a> is client-side web application framework. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>N</strong>ode.js</h2>
      <p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a JavaScript run-time, popular for being a web server platform. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
    </div>
  </div>
  <div class="well">
    <h2>MEAN.JS Documentation</h2>
    <p>
      Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
      <ul>
        <li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
        </li>
        <!- <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
        </li> >
        <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
        </li>
      </ul>
    </p>
  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>The MEAN.JS Team.
</section-->



<section>
  <!-- *****************************************************************************************************************
   HEADERWRAP
   ***************************************************************************************************************** -->
<div class="jumbotron text-center">
   <br>
    <div class="row">
      <p class="lead">
       <a href="#!/needs" > Open-Source Full-Stack Solution For MEAN Application - Volunteer Need ISAC</a>
       <br>
       <a href="http://gsu.orgsync.com/org/isac" style="float:left" class="btn btn-theme"> Click Here to Go Back to ISAC Home </a>
      </p>
    </div>
  
  </div>

  <div id="headerwrap">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h3>Help out your community. Share your time and talent.</h3>
          <h1>Volunteer Hub</h1>
          <h5>ISAC Will represent the international students enrolled at GSU and provide a forum to voice the needs and concerns of the international students to International Services and to the Georgia State University administration..</h5>
          
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <br />
          <a href="#!/needs" class="btn btn-theme">View Current Volunteer Needs</a>
        </div>

      </div><!--//row -->
      </div> <!-- //container -->
  </div><!--//headerwrap -->

  <!-- *****************************************************************************************************************
   SERVICE LOGOS
   ***************************************************************************************************************** -->
   <div id="service">
    <div class="container">
      <div class="row centered">
        <div class="col-md-4">
          <i class="fa fa-heart-o"></i>
          <h4>Organizations With Us</h4>
          <p>ISAC Will represent the international students enrolled at GSU and provide a forum to voice the needs and concerns of the international students to International Services and to the Georgia State University administration.</p>
          <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-flask"></i>
          <h4>Equipments</h4>
          <p>ISAC Will represent the international students enrolled at GSU and provide a forum to voice the needs and concerns of the international students to International Services and to the Georgia State University administration.</p>
          <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-trophy"></i>
          <h4>Awards And Appreciation</h4>
          <p>ISAC Will represent the international students enrolled at GSU and provide a forum to voice the needs and concerns of the international students to International Services and to the Georgia State University administration.</p>
          <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
        </div>            
      </div>
    </div><!--//container-->
   </div><!--//service -->
   
  <!-- *****************************************************************************************************************
   MIDDLE CONTENT
   ***************************************************************************************************************** -->

   <div class="container mtb">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-1">
        <h4>More About ISAC.</h4>
        <p>ISAC Will represent the international students enrolled at GSU and provide a forum to voice the needs and concerns of the international students to International Services and to the Georgia State University administration.
Will provide culturally sensitive programming, which recognizes, supports, and celebrates the diversity of the students and their perspectives.
Will plan and sponsor events that unite the international students and educate all students, the GSU community and the Atlanta area regarding the importance and existence of cultural diversity.
Will offer leadership training for members of each association under the umbrella of ISAC</p>
        <p><br/><a href="about.html" class="btn btn-theme">More Info</a></p>
      </div>
      
      <div class="col-lg-3">
        <h4>Frequently Asked</h4>
        <div class="hline"></div>
        <p><a href="#">How to Get Driving Licence ?</a></p>
        <p><a href="#">Find Housing in Atlanta GSU ?</a></p>
        <p><a href="#">Visa Related Issues?</a></p>
        <p><a href="#">Connect with ISSS !! </a></p>
        <p><a href="#">VISA And Tax Support</a></p>
      </div>
      
      <div class="col-lg-3">
        <h4>Latest Posts</h4>
        <div class="hline"></div>
        <p><a href="single-post.html">Trip to Washington DC for International Students</a></p>
        <p><a href="single-post.html">Food Training for Board Members</a></p>
        <p><a href="single-post.html">GBM Schedules And Agenda</a></p>
        <p><a href="single-post.html">YEquipment Checkout</a></p>
        <p><a href="single-post.html">Claim Expenditures</a></p>
      </div>
      
    </div><!--//row -->
   </div><!--//container -->
   
  <!-- *****************************************************************************************************************
   TESTIMONIALS
   ***************************************************************************************************************** -->
   <div id="twrap">
    <div class="container centered">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        <i class="fa fa-comment-o"></i>
        <p>ISAC Will represent the international students enrolled at GSU and provide a forum to voice the needs and concerns of the international students to International Services and to the Georgia State University administration.
Will provide culturally sensitive programming, which recognizes, supports, and celebrates the diversity of the students and their perspectives.
Will plan and sponsor events that unite the international students and educate all students, the GSU community and the Atlanta area regarding the importance and existence of cultural diversity.
Will offer leadership training for members of each association under the umbrella of ISAC </p>
        <h4><br/>Prakash Chourasia</h4>
        <p>WEB DESIGNER - Prakash Chourasia</p>
        </div>
      </div><!--//row -->
    </div><!--//container -->
   </div><!--//twrap>-->
   
  <!-- *****************************************************************************************************************
   OUR CLIENTS
   ***************************************************************************************************************** -->
   <div id="cwrap">
     <div class="container">
      <div class="row centered">
        <h3>ORGANIZATIONS</h3>
         
      </div><!--// row -->
     </div> <!--// container -->
   </div> <!--//cwrap -->

  <!--*****************************************************************************************************************
   FooTER
   ***************************************************************************************************************** -->
   <div id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>About</h4>
          <div class="hline-w"></div>
          <p>ISAC is student Org for international students in GSU have mor ethan 15 student Orgs in it.</p>
        </div>
        <div class="col-lg-4">
          <h4>Social Links</h4>
          <div class="hline-w"></div>
          <p>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-tumblr"></i></a>
          </p>
        </div>
        <div class="col-lg-4">
          <h4>ISAC</h4>
          <div class="hline-w"></div>
          <p>
            Sparks Hall<br/>
            ISSS GSU, Atlanta,<br/>
            United States.<br/>
          </p>
        </div>
      
      </div>  <!--row -->
    </div>   <!--//container -->
   </div>  <!-- //footerwrap -->
</section-->
